<mat-card class="login-card">
<div class="container-fluid margin ">
    <form class="example-form" [formGroup]="formobj">
        <div class="example-container">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username: </mat-label>
                <input matInput class="form-control" type="email" inputmode="email" name="username"
                    placeholder="Ex. rahul@gmail.com" formControlName="username">
            </mat-form-field>
        </div>
        <!-- <div class="alert-danger" *ngIf="formobj.controls['username']?.hasError('required')
         && formobj.controls['username'].invalid">
            course name is min 3 and max 10 length (only Characters accepted)
        </div> -->
        <!-- <div class="alert alert-danger" [hidden]="formobj.controls['username'].untouched || 
                formobj.controls['username'].dirty || 
                formobj.controls['username'].valid ">
            Enter your email id
        </div> -->

        <div class="example-container">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password: </mat-label>
                <input matInput class="form-control" type="password" name="password" placeholder="password"
                    formControlName="password" minlength="6" maxlength="10">
                <!-- <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}
                </mat-icon> -->
            </mat-form-field>
        </div>
        <div class="alert-danger" *ngIf="formobj.controls['password']?.hasError('pattern')
         && formobj.controls['password'].invalid">
            Only Number are accepted minlength=6 and maxlength=10
        </div>
        <!-- <div class="alert alert-danger" [hidden]="formobj.controls['password'].untouched || 
                formobj.controls['password'].dirty || 
                formobj.controls['password'].valid ">
            Enter your password
        </div> -->
        <div>
            <button [disabled]="formobj.invalid" mat-flat-button color="primary" type="submit"
                (click)="next()">Login</button> &nbsp;
            <button mat-flat-button color="accent" type="reset" (click)="formobj.reset()">Reset</button>
        </div>
    </form>
</div>
</mat-card>

<!-- width: 366px;
height: 230px;
margin-top: 100px;
margin-left: 200px;
margin-right: 200px;
padding-right: 0px; -->