<!-- <app-dashboard></app-dashboard> -->

<!-- {{receivefrom}} {{receiveto}} -->
<div *ngFor="let item of flights" class="container container-fluid">
    <div class="card-header ">
        <div class="card firstcard ">
            <div class="row">
                <div class="d-flex flex-nowrap">
                    <div class="col-md "> {{item.companyname}} &nbsp;</div>
                    <div class="col-md"> {{item.departure}} &nbsp; <div>{{receivefrom}}</div>
                    </div>
                    <div class="col-md"> {{item.duration}} &nbsp;</div>
                    <div class="col-md"> {{item.arrival}} &nbsp; <div>{{receiveto}}</div>
                    </div>
                    <div class="col-md"> {{item.price | currency:'INR'}} &nbsp;</div>
                </div>
            </div>
        </div>
        <div>
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-description class="text-lg-end">View flight details </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="card  ">
                        <div class="card border border-secondary shadow-0 mb-3" style="max-width: 200rem; background-color: powderblue;">
                            <div class="card-header"><b> {{receivefrom}} to {{receiveto}}</b></div>
                            <div class="card-body text-secondary" style="background-color: lightcyan;">
                                <h3 class="card-title">
                                    <div class="col-md "> {{item.companyname}} &nbsp;|{{item.flightnumber}}</div>
                                </h3>
                                <div class="card-text">
                                    <div class="row">
                                        <div class="d-flex flex-lg-nowrap">
                                            <div class="col-sm"> {{item.departure}} &nbsp; <div>{{receivefrom}}
                                                </div>
                                            </div>
                                            <div class="col-md"> {{item.duration}} &nbsp;</div>
                                            <div class="col-md"> {{item.arrival}} &nbsp; <div>{{receiveto}}</div>
                                            </div>
                                            <div class="col-md"> {{item.price | currency:'INR'}} &nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body text-secondary" style="max-width: 30rem;">
                                <div class="d-flex flex-row mb-3">
                                    <div class="p-2">{{item.bagage}}</div>
                                    <div class="p-2">{{item.checkin}}</div>
                                    <div class="p-2">{{item.cabin}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>